# AWS
AWS_ACCESS_KEY_ID=your_key
AWS_SECRET_ACCESS_KEY=your_secret
AWS_REGION=eu-west-1
S3_BUCKET_NAME=fintech-dw-raw-yourname

# GCP
GCP_PROJECT_ID=your-project-id
GCP_REGION=europe-west1
PUBSUB_TOPIC=raw-transactions
GOOGLE_APPLICATION_CREDENTIALS=/gcp/service-account.json

# Kafka
KAFKA_BOOTSTRAP_SERVERS=kafka:29092

# Producer
BATCH_SIZE=100
INTERVAL_SECONDS=30